{% macro displayBlogs(my_blog_list) %}
    {% for blogs in my_blog_list %}
    <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{blogs.title}}</h4>
              <p class="card-text">{{blogs.content| truncate(100)}}</p>
              <p>Posted By: <strong>{{blogs.user.username}}</strong></p>
              <p>Date posted {{blogs.posted.strftime('%Y-%m-%d')}}</p>
              <a href="/blog/{{blogs.id}}" class="card-link btn btn-success">Full Blog</a>
            </div>
          </div>
    {% endfor %}
{% endmacro%}

{% macro displayComments(my_comments) %}
   {% for comments in my_comments %}
   <div class="card border-dark comment" style="min-width: 20rem;max-width: 20rem;">
      <div class="card-header">Comments</div>
      <div class="card-body text-dark">
        <h5 class="card-title">{{comments.name}}</h5>
        <p class="card-text">{{comments.comment}}</p>
      </div>
    </div>
   {% endfor %}
{% endmacro %}